.vscode
geradores-respostas
old

codigos.txt
dossie.txt
emails-cursistas.txt
respostas_backup.json
respostas_backup2.json

# Ignora pasta .cursor
.cursor/*

# Mantém versionamento apenas das rules do projeto
!.cursor/rules/
!.cursor/rules/**